* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0d1117;
    color: #e6edf3;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 30px 10px;
}

.container {
    background-color: #161b22;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    width: 100%;
    max-width: 450px;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #58a6ff;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

input {
    width: 70%;
    padding: 10px;
    border: 1px solid #30363d;
    border-radius: 6px;
    background-color: #0d1117;
    color: #c9d1d9;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s;
}

input:focus {
    border-color: #58a6ff;
    box-shadow: 0 0 5px #58a6ff;
}

button {
    background-color: #238636;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10px;
    
}

button:hover {
    background-color: #2ea043;
    transform: scale(1.05);
}

.fa-toggle-off{
    font-size: 40px;
}
.overview {
    background-color: #161b22;
    margin-top: 25px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 0 10px rgba(88, 166, 255, 0.1);
}

.overview img {
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #58a6ff;
}

.repos {
    margin-top: 25px;
    width: 100%;
    max-width: 650px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
    margin-bottom: 10px;
}

h2{
    margin: 10px;
}

.repos div {
    background-color: #161b22;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #30363d;
    transition: 0.3s;
}

.repos div:hover {
    border-color: #58a6ff;
    transform: translateY(-3px);
}

.repos a {
    color: #58a6ff;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 6px;
}

.repos a:hover {
    text-decoration: underline;
}

p {
    font-size: 0.9rem;
    color: #8b949e;
}

@media (max-width: 500px) {
    form {
        flex-direction: column;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
    }
}